#action-center-text .bg {
	background-image: url('../images/bg-wall-1.jpg');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.1;
}#desc-card-3col-2 {
	background: #733f85;
}

#desc-card-3col-2 .bg {
	background-image: url('../images/bg-wood-6.jpg');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.05;
}#desc-img-text-3col-3 .bg {
    background-image: url('../images/bg-pattern-4.png');
	background-size: 50px 50px;
	-webkit-background-size: 50px 50px;
	background-repeat: repeat-y;
	-webkit-background-repeat: repeat-y;
	background-position: top right;
	opacity: 1;
}
#desc-card-3col {
	/*background: #5969d1;*/
}

#desc-card-3col .bg {
	background-image: url('../images/bg-abstract-1.jpg');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.05;
}
