{% extends "main.html" %}
{% load thumbnail %}
{% block main %}
    <section id="step-ltr-form-img-text-half" class="pt-75 pb-150 light">
        <div class="container">
            <div class="row flex-md-vmiddle">
                <div class="col-md-5 col-md-push-7">
                    <img src="/static/images/illustration-5.png" srcset="/static/images/illustration-5@2x.png 2x" alt="illustration"
                         class="screen mb-50">
                    <h2 class="mb-50">Ответим в ближайшее время!</h2>
                    <h3>Оставьте свои контактные данные и мы наилучшим образом исполним ваши пожелания!</h3>
                    <p class="small text-muted">Введённые персональные данные не передаются никаким третьим лицам и используются только для обратной связи.</p>
                </div>
                <div class="col-md-6 col-md-pull-5">
                    <div class="border-box padding-box light" style="background-color:#fff">
                        <h4 class="mb-25">Заинтересовала наша продукция?</h4>
                        <form action="./scripts/request.php" class="contact_form" novalidate="novalidate"
                              id="step-ltr-form-img-text-half-form">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Ваше имя" name="NAME">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Email или телефон" name="EMAIL">
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" rows="6" placeholder="Ваше сообщение"
                                          name="MESSAGE"></textarea>
                            </div>
                            <button type="submit" data-loading-text="•••" data-complete-text="Completed!"
                                    data-reset-text="Try again later..." class="btn btn-primary btn-block"><i
                                    class="icon-paper-plane icon-position-left icon-size-m"></i><span>Отправить сообщение</span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg"></div>
    </section>
{% endblock %}
