{% extends "main.html" %}
{% load thumbnail %}
{% block main %}
    <div class="text-center">
        <a href="/">Главная</a> > <a href="/groups/">Группы товаров</a> > {{ group_item.name }}
    </div>
    <section id="desc-img-text-3col-3" class="pt-100 pb-100 light">
        <div class="container">
            <h2 class="mb-50"><strong>{{ group_item.name }}</strong></h2>
            <div class="row">
                {% for item in product_list %}
                    <div class="col-md-4">
                        <div class="card padding-box border-box">
                            {% thumbnail item.img "x500" crop="center" as im %}
                                <a id="screen-{{ forloop.counter }}" href="/product/{{ item.pk }}">
                                    <img src="/static/{{ im.url }}" alt="{{ item.img }}" class="card-img">
                                </a>
                            {% endthumbnail %}
                            {#                            <div class="mt-5 text-center">#}
                            {#                                {% for image in item.colors %}#}
                            {#                                    {% thumbnail image.img "x500" crop="center" as im %}#}
                            {#                            <img id="thumb-{{ forloop.counter }}" height="30px"#}
                            {#                                 src="/static/{{ image.color.img.url }}"#}
                            {#                                 alt="{{ image.color.img }}"#}
                            {#                                 style="border-radius: 50%; cursor: pointer; border: ridge 2px #00C0FF;"#}
                            {#                                 onclick="load_img2('{{ im.url }}', 'screen-{{ forloop.parentloop.counter }}')">#}
                            {#                                    {% endthumbnail %}#}
                            {#                                {% endfor %}#}
                            {#                            </div>#}
                            <div class="card-block">
                                <h4 class="mt-20 mb-0"><strong>{{ item.name }}</strong></h4>
                                <p class="mb-15 desc-text">{{ item.text }}</p>
                                <ul class="text-icon-list text-icon-list-sep">
                                    <li class="clearfix"><i
                                            class="icon-color-sampler icon-color icon-size-m icon-position-left"></i>
                                        <span>Цвета</span>
                                        <span class="pull-right">
                                        {% for image in item.colors %}
                                            {% thumbnail image.img "x500" crop="center" as im %}
                                                <img id="thumb-{{ forloop.counter }}" height="30px"
                                                     src="/static/{{ image.color.img.url }}"
                                                     alt="{{ image.color.img }}"
                                                     style="border-radius: 50%; cursor: pointer; border: ridge 2px #00C0FF;"
                                                     onclick="load_img2('{{ im.url }}', 'screen-{{ forloop.parentloop.counter }}')">
                                            {% endthumbnail %}
                                        {% endfor %}
                                        </span>
                                    </li>
                                    {% for field in item.field_many.all %}
                                        <li class="clearfix"><i
                                                class="icon-{{ field.icon }} icon-color icon-size-m icon-position-left"></i>
                                            <span class="spr-option-textedit-link">{{ field.name }}</span>
                                            <span class="spr-option-textedit-link pull-right">{{ field.text }}</span>
                                        </li>
                                    {% endfor %}
                                </ul>
                                <a href="/product/{{ item.pk }}" class="btn btn-sm btn-default mt-25"><i
                                        class="icon-plus icon-position-left"></i><span class="spr-option-textedit-link">Перейти</span></a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="bg"></div>
    </section>
    <script>
        function load_img2(url, id = 'screen') {
            document.getElementById(id).innerHTML = `<img src="/static/${url}" alt="${url}" class="card-img">`;
        }
    </script>
{% endblock %}
