<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>index</title>
		
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<script src="http://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js"></script>
		<script src="/static/js/fonts.js"></script>
		<link rel="stylesheet" href="/static/css/bootstrap.css" />
		<link rel="stylesheet" href="/static/css/icons.css" />
		<link rel="stylesheet" href="/static/css/style.css" />
		<link rel="stylesheet" href="/static/css/owl.carousel.css" />
		<link rel="stylesheet" href="/static/css/custom.css" />
		<link rel="stylesheet" href="/static/css/index.css" />
	</head>
    <body class="light-page">
<nav id="nav-fluid-logo-menu-drop" class="navbar navbar-fixed-top light">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            <div class="navbar-brand"><img src="/static/images/logo2.png" srcset="/static/images/logo2@2x.png 2x" alt="Your logo"></div>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="mega-menu-item"><a href="#"><span>Description</span><i class="icon-chevron-down-bold icon-position-right icon-color"></i></a>
                    <div class="mega-menu-container" style="background: #f4f4f4;">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-2">
                                    <h4 class="mb-0">General</h4>
                                    <hr>
                                    <ul>
                                        <li><a href="#"><span>Installation</span></a></li>
                                        <li><a href="#"><span>Structure</span></a></li>
                                        <li><a href="#"><span>Customization</span></a></li>
                                        <li><a href="#"><span>Documentation</span></a></li>
                                        <li><a href="#"><span>Shortcodes</span></a></li>
                                    </ul>
                                </div>
                                <div class="col-md-2">
                                    <h4 class="mb-0">Templates</h4>
                                    <hr>
                                    <ul>
                                        <li><a href="#"><span>Application</span></a></li>
                                        <li><a href="#"><span>Service</span></a></li>
                                        <li><a href="#"><span>Product</span></a></li>
                                        <li><a href="#"><span>Agency</span></a></li>
                                        <li><a href="#"><span>Other</span></a></li>
                                    </ul>
                                </div>
                                <div class="col-md-2">
                                    <h4 class="mb-0">Benefits</h4>
                                    <hr>
                                    <ul>
                                        <li><a href="#"><span>400 sections</span></a></li>
                                        <li><a href="#"><span>41 pages</span></a></li>
                                        <li><a href="#"><span>Form constructor</span></a></li>
                                        <li><a href="#"><span>Code editor</span></a></li>
                                        <li><a href="#"><span>Popup constructor</span></a></li>
                                    </ul>
                                </div>
                                <div class="col-md-2">
                                    <h4 class="mb-0">Features</h4>
                                    <hr>
                                    <ul>
                                        <li><a href="#"><span>Elements animation</span></a></li>
                                        <li><a href="#"><span>Flexible background</span></a></li>
                                        <li><a href="#"><span>Stylized maps</span></a></li>
                                        <li><a href="#"><span>Responsive</span></a></li>
                                        <li><a href="#"><span>Drag and Drop</span></a></li>
                                    </ul>
                                </div>
                                <div class="col-md-2">
                                    <h4 class="mb-0">Marketing tools</h4>
                                    <hr>
                                    <ul>
                                        <li><a href="#"><span>Mailchimp</span></a></li>
                                        <li><a href="#"><span>Mailerlite</span></a></li>
                                        <li><a href="#"><span>Activecampaign</span></a></li>
                                        <li><a href="#"><span>Getresponse</span></a></li>
                                        <li><a href="#"><span>Campaignmonitor</span></a></li>
                                    </ul>
                                </div>
                                <div class="col-md-2">
                                    <h4 class="mb-0">Social</h4>
                                    <hr>
                                    <ul>
                                        <li><a href="#"><i class="icon-facebook icon-color icon-position-left"></i><span>Facebook</span></a></li>
                                        <li><a href="#"><i class="icon-twitter icon-color icon-position-left"></i><span>Twitter</span></a></li>
                                        <li><a href="#"><i class="icon-instagram icon-color icon-position-left"></i><span>Instagram</span></a></li>
                                        <li><a href="#"><i class="icon-linkedin icon-color icon-position-left"></i><span>Linkedin</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="mega-menu-item"><a href="#"><span>Templates</span><i class="icon-chevron-down-bold icon-position-right icon-color"></i></a>
                    <div class="mega-menu-container" style="background-color: #f4f4f4; background-image: url('/static/images/drop-bg-1.png'); background-position: bottom right; background-size: auto 100%; background-repeat: no-repeat;">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-4 text-center">
                                    <img src="/static/images/templates.png" srcset="/static/images/templates@2x.png 2x" alt="Templates" class="screen">
                                </div>
                                <div class="col-md-2">
                                    <h4 class="mb-10">Service</h4>
                                    <ul>
                                        <li><a href="http://multifour.com/projects/gum/templates/service1/index.html" target="_blank"><span>Service page 1</span></a></li>
                                        <li><a href="http://multifour.com/projects/gum/templates/service2/index.html" target="_blank"><span>Service page 2</span></a></li>
                                        <li><a href="http://multifour.com/projects/gum/templates/service3/index.html" target="_blank"><span>Service page 3</span></a></li>
                                        <li><a href="http://multifour.com/projects/gum/templates/service4/index.html" target="_blank"><span>Service page 4</span></a></li>
                                        <li><a href="http://multifour.com/projects/gum/templates/service5/index.html" target="_blank"><span>Service page 5</span></a></li>
                                        <li><a href="http://multifour.com/projects/gum/templates/service6/index.html" target="_blank"><span>Service page 6</span></a></li>
                                        <li><a href="http://multifour.com/projects/gum/templates/service7/index.html" target="_blank"><span>Service page 7</span></a></li>
                                    </ul>
                                    <h4 class="mb-10 mt-40">Agency</h4>
                                    <ul>
                                        <li><a href="http://multifour.com/projects/gum/templates/agency/index.html" target="_blank"><span>Agency page 1</span></a></li>
                                        <li><a href="http://multifour.com/projects/gum/templates/agency2/index.html" target="_blank"><span>Agency page 2</span></a></li>
                                        <li><a href="http://multifour.com/projects/gum/templates/agency3/index.html" target="_blank"><span>Agency page 3</span></a></li>
                                    </ul>
                                </div>
                                <div class="col-md-2">
                                    <h4 class="mb-10">Application</h4>
                                    <ul>
                                        <li><a href="http://multifour.com/projects/gum/templates/app1/index.html" target="_blank"><span>App page 1</span></a></li>
                                        <li><a href="http://multifour.com/projects/gum/templates/app2/index.html" target="_blank"><span>App page 2</span></a></li>
                                        <li><a href="http://multifour.com/projects/gum/templates/app3/index.html" target="_blank"><span>App page 3</span></a></li>
                                        <li><a href="http://multifour.com/projects/gum/templates/app4/index.html" target="_blank"><span>App page 4</span></a></li>
                                        <li><a href="http://multifour.com/projects/gum/templates/app5/index.html" target="_blank"><span>App page 5</span></a></li>
                                        <li><a href="http://multifour.com/projects/gum/templates/app6/index.html" target="_blank"><span>App page 6</span></a></li>
                                        <li><a href="http://multifour.com/projects/gum/templates/app7/index.html" target="_blank"><span>App page 7</span></a></li>
                                    </ul>
                                    <h4 class="mb-10 mt-40">Product</h4>
                                    <ul>
                                        <li><a href="http://multifour.com/projects/gum/templates/product/index.html" target="_blank"><span>Product page 1</span></a></li>
                                        <li><a href="http://multifour.com/projects/gum/templates/product2/index.html" target="_blank"><span>Product page 2</span></a></li>
                                        <li><a href="http://multifour.com/projects/gum/templates/product3/index.html" target="_blank"><span>Product page 3</span></a></li>
                                    </ul>
                                </div>
                                <div class="col-md-2">
                                    <h4 class="mb-10">Special</h4>
                                    <ul>
                                        <li><a href="http://multifour.com/projects/gum/templates/comingsoon/index.html" target="_blank"><span>Coming soon 1</span></a></li>
                                        <li><a href="http://multifour.com/projects/gum/templates/comingsoon2/index.html" target="_blank"><span>Coming soon 2</span></a></li>
                                        <li><a href="http://multifour.com/projects/gum/templates/comingsoon3/index.html" target="_blank"><span>Coming soon 3</span></a></li>
                                        <li><a href="http://multifour.com/projects/gum/templates/inner/index.html" target="_blank"><span>Inner page 1</span></a></li>
                                        <li><a href="http://multifour.com/projects/gum/templates/inner2/index.html" target="_blank"><span>Inner page 2</span></a></li>
                                        <li><a href="http://multifour.com/projects/gum/templates/error1/index.html" target="_blank"><span>Error page 1</span></a></li>
                                        <li><a href="http://multifour.com/projects/gum/templates/error2/index.html" target="_blank"><span>Error page 2</span></a></li>
                                    </ul>
                                    <h4 class="mb-10 mt-40">Rent</h4>
                                    <ul>
                                        <li><a href="http://multifour.com/projects/gum/templates/renthotel/index.html" target="_blank"><span>Rent a room</span></a></li>
                                        <li><a href="http://multifour.com/projects/gum/templates/rentcar/index.html" target="_blank"><span>Rent a car</span></a></li>
                                        <li><a href="http://multifour.com/projects/gum/templates/realestate/index.html" target="_blank"><span>Real estate</span></a></li>
                                    </ul>
                                </div>
                                <div class="col-md-2">
                                    <h4 class="mb-10">Other</h4>
                                    <ul>
                                        <li><a href="http://multifour.com/projects/gum/templates/hostel/index.html" target="_blank"><span>Hostel page</span></a></li>
                                        <li><a href="http://multifour.com/projects/gum/templates/shop/index.html" target="_blank"><span>Shop page</span></a></li>
                                        <li><a href="http://multifour.com/projects/gum/templates/step/index.html" target="_blank"><span>Steps page</span></a></li>
                                        <li><a href="http://multifour.com/projects/gum/templates/courses/index.html" target="_blank"><span>Courses page</span></a></li>
                                        <li><a href="http://multifour.com/projects/gum/templates/food/index.html" target="_blank"><span>Food page</span></a></li>
                                        <li><a href="http://multifour.com/projects/gum/templates/medicine/index.html" target="_blank"><span>Medicine page</span></a></li>
                                        <li><a href="http://multifour.com/projects/gum/templates/writer/index.html" target="_blank"><span>Writer page</span></a></li>
                                        <li><a href="http://multifour.com/projects/gum/templates/finance/index.html" target="_blank"><span>Finance page</span></a></li>
                                        <li><a href="http://multifour.com/projects/gum/templates/support/index.html" target="_blank"><span>Support page</span></a></li>
                                        <li><a href="http://multifour.com/projects/gum/templates/consultation/index.html" target="_blank"><span>Consultation</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="mega-menu-item"><a href="#"><span>Products</span><i class="icon-chevron-down-bold icon-position-right icon-color"></i></a>
                    <div class="mega-menu-container dark" style="background: #444444;">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-2">
                                    <a href="http://multifour.com/projects/gum/templates/agency3/index.html" target="_blank"><img src="/static/images/agency3-screen.jpg" alt="Templates" class="screen mb-20"></a>
                                    <h4 class="mb-0">Agency page</h4>
                                </div>
                                <div class="col-md-2">
                                    <a href="http://multifour.com/projects/gum/templates/comingsoon2/index.html" target="_blank"><img src="/static/images/comingsoon2-screen.jpg" alt="Templates" class="screen mb-20"></a>
                                    <h4 class="mb-0">Coming soon</h4>
                                </div>
                                <div class="col-md-2">
                                    <a href="http://multifour.com/projects/gum/templates/rentcar/index.html" target="_blank"><img src="/static/images/rentcar-screen.jpg" alt="Templates" class="screen mb-20"></a>
                                    <h4 class="mb-0">Rent a car</h4>
                                </div>
                                <div class="col-md-2">
                                    <a href="http://multifour.com/projects/gum/templates/product2/index.html" target="_blank"><img src="/static/images/product2-screen.jpg" alt="Templates" class="screen mb-20"></a>
                                    <h4 class="mb-0">Product page</h4>
                                </div>
                                <div class="col-md-2">
                                    <a href="http://multifour.com/projects/gum/templates/app7/index.html" target="_blank"><img src="/static/images/app7-screen.jpg" alt="Templates" class="screen mb-20"></a>
                                    <h4 class="mb-0">App page</h4>
                                </div>
                                <div class="col-md-2">
                                    <a href="http://multifour.com/projects/gum/templates/courses/index.html" target="_blank"><img src="/static/images/courses-screen.jpg" alt="Templates" class="screen mb-20"></a>
                                    <h4 class="mb-0">Courses page</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="mega-menu-item"><a href="#"><span>Services</span><i class="icon-chevron-down-bold icon-position-right icon-color"></i></a>
                    <div class="mega-menu-container" style="background: #f4f4f4;">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-2">
                                    <i class="icon-vector icon-size-l icon-color"></i>
                                    <h3 class="mt-20">Design</h3>
                                    <p class="mb-15 small">In our work we try to use only the most modern, convenient and interesting solutions</p>
                                    <a href="#" class="btn btn-sm btn-default"><span>Discover more</span></a>
                                </div>
                                <div class="col-md-2">
                                    <i class="icon-pencil-ruler icon-size-l icon-color"></i>
                                    <h3 class="mt-20">Development</h3>
                                    <p class="mb-15 small">In our work we try to use only the most modern, convenient and interesting solutions</p>
                                    <a href="#" class="btn btn-sm btn-default"><span>Discover more</span></a>
                                </div>
                                <div class="col-md-2">
                                    <i class="icon-shield-check icon-size-l icon-color"></i>
                                    <h3 class="mt-20">Protection</h3>
                                    <p class="mb-15 small">In our work we try to use only the most modern, convenient and interesting solutions</p>
                                    <a href="#" class="btn btn-sm btn-default"><span>Discover more</span></a>
                                </div>
                                <div class="col-md-2">
                                    <i class="icon-graph icon-size-l icon-color"></i>
                                    <h3 class="mt-20">Analytics</h3>
                                    <p class="mb-15 small">In our work we try to use only the most modern, convenient and interesting solutions</p>
                                    <a href="#" class="btn btn-sm btn-default"><span>Discover more</span></a>
                                </div>
                                <div class="col-md-2">
                                    <i class="icon-podium icon-size-l icon-color"></i>
                                    <h3 class="mt-20">Strategy</h3>
                                    <p class="mb-15 small">In our work we try to use only the most modern, convenient and interesting solutions</p>
                                    <a href="#" class="btn btn-sm btn-default"><span>Discover more</span></a>
                                </div>
                                <div class="col-md-2">
                                    <i class="icon-lifebuoy icon-size-l icon-color"></i>
                                    <h3 class="mt-20">Support</h3>
                                    <p class="mb-15 small">In our work we try to use only the most modern, convenient and interesting solutions</p>
                                    <a href="#" class="btn btn-sm btn-default"><span>Discover more</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li><a href="#"><span>Responsive</span><i class="icon-chevron-down-bold icon-position-right icon-color"></i></a>
                    <ul class="sub-menu" style="background: #fff;">
                        <li><a href="#"><span>Desktop view</span></a></li>
                        <li><a href="#"><span>Tablet view</span></a></li>
                        <li><a href="#"><span>Phone view</span></a></li>
                        <li><a href="#"><span>More devices</span><i class="icon-chevron-down-bold icon-position-right icon-color"></i></a>
                            <ul class="sub-menu" style="background: #fff;">
                                <li><a href="#"><span>Landscape</span></a></li>
                                <li><a href="#"><span>Watches</span></a></li>
                                <li><a href="#"><span>Ultra screens</span></a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="#"><span>About</span><i class="icon-chevron-down-bold icon-position-right icon-color"></i></a>
                    <ul class="sub-menu" style="background: #fff;">
                        <li><a href="#"><i class="icon-book2 icon-position-left icon-color"></i><span>History</span></a></li>
                        <li><a href="#"><i class="icon-man icon-position-left icon-color"></i><span>Team</span></a></li>
                        <li><a href="#"><i class="icon-bubble icon-position-left icon-color"></i><span>Reviews</span></a></li>
                    </ul>
                </li>
                <li><a href="#"><span>Contact</span></a></li>
            </ul>
        </div>
    </div>
    <div class="nav-bg light"></div>
</nav>		<div id="wrap">
			<section id="header-fluid-carousel-single" class="light">

                			<div class="carousel-single-nav cover-slider owl-drag"><div class="item">
                        			<div class="desc-top text-center">
                            			<h1><mark>&nbsp;<strong>Limited</strong> Offer&nbsp;</mark></h1>
                            			<h4 class="mb-40">In our work we try to use only the most modern, <br>convenient and interesting solutions</h4>
                            			<a href="#" class="btn btn-default"><span>Details</span><i class="icon-arrow-down icon-size-m icon-position-right"></i></a>
                        			</div>
                        			<img src="/static/images/bg-32.jpg" alt="screen">
                    			</div><div class="item">
                       			<div class="desc-top text-right">
                            			<h1>Limited Offer</h1>
                            			<h4 class="mb-40">In our work we try to use only the most modern, <br>convenient and interesting solutions</h4>
                            			<a href="#" class="btn btn-default"><i class="icon-arrow-down icon-size-m icon-position-left"></i><span>Details</span></a>
                        			</div>
                        			<img src="/static/images/bg-33.jpg" alt="screen">
                    			</div><div class="item">
                       			<div class="desc-bottom text-center">
                            			<h1><strong>Limited</strong> Offer</h1>
                            			<h4 class="mb-40">In our work we try to use only the most modern, <br>convenient and interesting solutions</h4>
                            			<a href="#" class="btn btn-default mb-50"><i class="icon-arrow-down icon-size-m icon-position-left"></i><span>Details</span></a>
                        			</div>
                        			<img src="/static/images/bg-34.jpg" alt="screen">
                    			</div><div class="item">
                       			<div class="desc-top">
                            			<h1><strong>Limited Offer</strong></h1>
                            			<h4 class="mb-40">In our work we try to use only the most modern, <br>convenient and interesting solutions</h4>
                            			<a href="#" class="btn btn-default"><i class="icon-arrow-down icon-size-m icon-position-left"></i><span>Details</span></a>
                        			</div>
                        			<img src="/static/images/bg-35.jpg" alt="screen">
                    			</div><div class="item">
                       			<div class="desc-bottom">
                            			<h1><mark>&nbsp;Limited Offer&nbsp;</mark></h1>
                            			<h4 class="mb-40">In our work we try to use only the most modern, <br>convenient and interesting solutions</h4>
                            			<a href="#" class="btn btn-default mb-50"><i class="icon-arrow-down icon-size-m icon-position-left"></i><span>Details</span></a>
                        			</div>
                        			<img src="/static/images/bg-36.jpg" alt="screen">
                    			</div><div class="item">
                       			<div class="desc-bottom text-right">
                            			<h1>Limited Offer</h1>
                            			<h4 class="mb-40">In our work we try to use only the most modern, <br>convenient and interesting solutions</h4>
                            			<a href="#" class="btn btn-default mb-50"><i class="icon-arrow-down icon-size-m icon-position-left"></i><span>Details</span></a>
                        			</div>
                        			<img src="/static/images/bg-37.jpg" alt="screen">
                    			</div></div>

    			<div class="bg"></div>
			</section><section id="action-center-text" class="pt-150 pb-150 text-center light">
    			<div class="container">
        			<div class="row">
            			<div class="col-md-12">
               			<h4>Special offer</h4>
                			<h2><strong>Shop has launched a new promotion <br>on all <mark>2016 collection</mark></strong></h2>
                			<p class="desc-text">Available within 2 weeks</p>
            			</div>
        			</div>
    			</div>
    			<div class="bg"></div>
			</section>
		</div>
		<footer></footer>
		<div class="modal-container"></div>
		
		
		<script src="/static/js/jquery-2.1.4.min.js"></script>
		<script src="/static/js/bootstrap.min.js"></script>
		<script src="/static/js/owl.carousel.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCByts0vn5uAYat3aXEeK0yWL7txqfSMX8"></script>
		<script src="https://cdn.jsdelivr.net/jquery.goodshare.js/3.2.8/goodshare.min.js"></script>
		<script src="/static/js/custom.js"></script>
		<script src="/static/js/index.js"></script>
	</body>
</html>
