{% extends "main.html" %}
{% load thumbnail %}
{% block main %}
    <section id="header-fluid-carousel-single" class="dark">
        <div class="carousel-single-nav cover-slider owl-drag">
            {% for item in banner %}
                <div class="item">
                    <div class="{% if item.top %}desc-top{% else %}desc-bottom{% endif %}
                                {% if item.center %}text-center{% elif item.center == False %}text-right{% endif %}"
                         {% if item.mark %}style="background-color: #00000050;"{% endif %}>
                        {% if item.name %}
                            <h1>
                                {# {% if item.mark %}<mark>{{ item.name|safe }}</mark> #}
                                <strong>{{ item.name|safe }}</strong>
                            </h1>
                        {% endif %}
                        {% if item.text %}
                            <h4 class="mb-40">{{ item.text|safe }}</h4>
                        {% endif %}
                        {% if item.btn %}
                            <a href="/static/{{ item.btn_url }}"
                               class="btn btn-default{% if not item.top %} mb-50{% endif %}">
                                <span>{{ item.btn }}</span><i
                                    class="icon-arrow-down icon-size-m
                            {% if item.btn_left %}icon-position-left{% else %}icon-position-right{% endif %}"></i></a>
                        {% endif %}
                    </div>
                    <img src="/static/{{ item.img.url }}" alt="screen">
                </div>
            {% endfor %}
        </div>
        <div class="bg"></div>
    </section>
    {% if description %}
        <section id="action-center-text" class="pt-50 pb-50 text-center light">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        {% if description.before %}
                            <h4>{{ description.before|safe }}</h4>
                        {% endif %}
                        {% if description.big %}
                            <h2><strong>{{ description.big|safe }}</strong></h2>
                        {% endif %}
                        {% if description.mini %}
                            <p class="desc-text">{{ description.mini|safe }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="bg"></div>
        </section>
    {% endif %}
    {% if group or group_list %}
        <section id="desc-card-3col" class="pt-75 pb-100 text-center light">
            <div class="container">
                {% if group %}
                    <h2>{{ group.big }}</h2>
                    <h3 class="mb-75">{{ group.mini }}</h3>
                {% endif %}
                {% if group_list %}
                    <div class="row">
                        {% for item in group_list %}
                            <div class="col-md-4 mb-50">
                                <div class="card light" style="background-color:#fff;">
                                    {% thumbnail item.img "350x350" crop="center" as im %}
                                        <img src="/static/{{ im.url }}" alt="{{ item.img }}"
                                             class="card-img-top">
                                    {% endthumbnail %}
                                    <div class="card-block padding-box">
                                        <h3><strong>{{ item.name }}</strong></h3>
                                        <p class="mb-30">{{ item.text }}</p>
                                        <a class="btn btn-default" href="/group/{{ item.pk }}">
                                            <span>Перейти</span></a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="bg"></div>
        </section>
    {% endif %}
    {% if gallery %}
        <section id="gallery-fluid-carousel-single" class="pt-75 pb-75 text-center light">
            <div class="container">
                <h2 class="mb-50">{{ gallery.big }}</h2>
                <div class="carousel-single-nav gallery owl-drag">
                    {% for item in gallery_list %}
                        <a href="/static/{{ item.img.url }}" class="item gallery-box gallery-style-4">
                            <span class="caption"><strong>{{ item.name }}</strong></span>
                            <img src="/static/{{ item.img.url }}" alt="screen">
                        </a>
                    {% endfor %}
                </div>
                <p class="mt-50">{{ gallery.text }}</p>
                <a href="{{ gallery.btn_url }}" class="btn btn-default mt-25"><span>{{ gallery.btn }}</span></a>
            </div>
            <div class="bg"></div>
        </section>
    {% endif %}
{% endblock %}
