<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ site.title }}</title>

    <meta name="keywords" content="{{ site.keywords }}"/>
    <meta name="description" content="{{ site.description }}"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <script src="http://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js"></script>
    <script src="/static/js/fonts.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.css"/>
    <link rel="stylesheet" href="/static/css/icons.css"/>
    <link rel="stylesheet" href="/static/css/style.css"/>
    <link rel="stylesheet" href="/static/css/owl.carousel.css"/>
    <link rel="stylesheet" href="/static/css/custom.css"/>
    <link rel="stylesheet" href="/static/css/index.css"/>
</head>
<body class="light-page">
<nav id="nav-fluid-logo-menu-drop" class="navbar light">
    <div class="container-fluid">
        <div class="navbar-header" style="position: absolute;">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"><span
                    class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            <div class="navbar-brand"><img src="/static/images/{{ site.logo.file }}" alt="Your logo"></div>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                {% for item in menu %}
                    <li><a href="{{ item.url }}"><span>{{ item.name }}</span></a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="nav-bg light"></div>
</nav>
<div id="wrap">
    <section id="header-fluid-carousel-single" class="light">
        <div class="carousel-single-nav cover-slider owl-drag">
            {% for item in banner %}
                <div class="item">
                    <div class="{% if item.top %}desc-top{% else %}desc-bottom{% endif %}
                            {% if item.center %}text-center{% elif item.center == False %}text-right{% endif %}">
                        {% if item.name %}
                            <h1>
                                {% if item.mark %}
                                    <mark>{{ item.name }}</mark>
                                {% else %}
                                    {{ item.name }}
                                {% endif %}
                            </h1>
                        {% endif %}
                        {% if item.text %}
                            <h4 class="mb-40">{{ item.text }}</h4>
                        {% endif %}
                        {% if item.btn %}
                            <a href="{{ item.btn_url }}" class="btn btn-default{% if not item.top %} mb-50{% endif %}">
                                <span>{{ item.btn }}</span><i
                                    class="icon-arrow-down icon-size-m
                            {% if item.btn_left %}icon-position-left{% else %}icon-position-right{% endif %}"></i></a>
                        {% endif %}
                    </div>
                    <img src="/static/images/{{ item.img.file }}" alt="screen">
                </div>
            {% endfor %}
        </div>
        <div class="bg"></div>
    </section>
    {% if description %}
    <section id="action-center-text" class="pt-150 pb-150 text-center light">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {% if description.before %}
                        <h4>{{ description.before }}</h4>
                    {% endif %}
                    {% if description.big %}
                        <h2><strong>{{ description.big }}</strong></h2>
                    {% endif %}
                    {% if description.mini %}
                        <p class="desc-text">{{ description.mini }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="bg"></div>
    </section>
    {% endif %}
</div>
<footer></footer>
<div class="modal-container"></div>


<script src="/static/js/jquery-2.1.4.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/owl.carousel.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCByts0vn5uAYat3aXEeK0yWL7txqfSMX8"></script>
<script src="https://cdn.jsdelivr.net/jquery.goodshare.js/3.2.8/goodshare.min.js"></script>
<script src="/static/js/custom.js"></script>
<script src="/static/js/index.js"></script>
</body>
</html>
