<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ site.title }}</title>
    <meta name="keywords" content="{{ site.keywords }}"/>
    <meta name="description" content="{{ site.description }}"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <script src="http://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js"></script>
    <script src="/static/js/fonts.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.css"/>
    <link rel="stylesheet" href="/static/css/icons.css"/>
    <link rel="stylesheet" href="/static/css/style.css"/>
    <link rel="stylesheet" href="/static/css/owl.carousel.css"/>
    <link rel="stylesheet" href="/static/css/magnific-popup.css"/>
    <link rel="stylesheet" href="/static/css/custom.css"/>
    <link rel="stylesheet" href="/static/css/index.css"/>
</head>
<body class="light-page">
<nav id="nav-fluid-logo-menu-drop" class="navbar light">
    <div class="container-fluid">
        <div class="navbar-header" style="position: absolute;">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"><span
                    class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            <div class="navbar-brand"><a href="/"><img src="/static/{{ site.logo.url }}" alt="{{ site.title }}"></a>
            </div>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                {% for item in menu %}
                    <li><a href="{{ item.url }}"><span>{{ item.name }}</span></a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="nav-bg light"></div>
</nav>
<div id="wrap">
    {% block main %}{% endblock %}
</div>
<footer id="footer-text-icon-social" class="pt-50 pb-50 light">
    <div class="container">
        <div class="row flex-md-vmiddle">
            <div class="col-md-4">
                <p>© info@electis.ru</p>
            </div>
            <div class="col-md-4 text-center">
                <a href="#" class="icon-chevron-up icon-size-l icon-color"><i></i></a>
            </div>
            <div class="col-md-4 text-md-right">
                {#                    <ul class="social-list">#}
                {#                        <li>#}
                {#                            <a href="#"><i class="icon-twitter icon-size-m"></i></a>#}
                {#                        </li>#}
                {#                        <li>#}
                {#                            <a href="#"><i class="icon-facebook icon-size-m"></i></a>#}
                {#                        </li>#}
                {#                        <li>#}
                {#                            <a href="#"><i class="icon-linkedin icon-size-m"></i></a>#}
                {#                        </li>#}
                {#                        <li>#}
                {#                            <a href="#"><i class="icon-github-alt icon-size-m"></i></a>#}
                {#                        </li>#}
                {#                        <li>#}
                {#                            <a href="#"><i class="icon-google-plus icon-size-m"></i></a>#}
                {#                        </li>#}
                {#                        <li>#}
                {#                            <a href="#"><i class="icon-dribbble icon-size-m"></i></a>#}
                {#                        </li>#}
                {#                        <li>#}
                {#                            <a href="#"><i class="icon-behance icon-size-m"></i></a>#}
                {#                        </li>#}
                {#                    </ul>#}
            </div>
        </div>
    </div>
    <div class="bg"></div>
</footer>
<div class="modal-container"></div>
<script src="/static/js/jquery-2.1.4.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/jquery.vide.min.js"></script>
<script src="/static/js/owl.carousel.js"></script>
<script src="/static/js/jquery.magnific-popup.min.js"></script>
<script src="/static/js/jquery.validate.min.js"></script>
{#<script src="https://cdn.jsdelivr.net/jquery.goodshare.js/3.2.8/goodshare.min.js"></script>#}
<script src="/static/js/custom.js"></script>
<script src="/static/js/index.js"></script>
</body>
</html>
